body {
    background-image: url('img/cash.jpg');
    background-size: cover;
    padding-top: 100px;
}

h1 {
    color: coral;
    font-weight: bold;
}

#main .login-area,
#transaction .transaction-area,
#transaction .box,
#transaction .money-form {
    border-radius: 10px;
}

#main #login {
    background-color: coral;
    border: 2px solid black;
}

#main #login:hover {
    box-shadow: 0 0 10px 0 gray;
}

#transaction {
    display: none;
}

#transaction .box {
    font-weight: bold;
    font-size: 40px;
}