body {
    background-image: url('img/cash.jpg');
    background-size: cover;
}


/* main area */

#main .login-area {
    border-radius: 10px;
    margin: auto;
    max-width: 600px;
}

h1 {
    color: coral;
    font-weight: bold;
}

#main #login {
    background-color: coral;
    border: 2px solid black;
}

#main #login:hover {
    box-shadow: 0 0 10px 0 gray;
}


/* transaction area */

#transaction {
    display: none;
    margin: auto;
    max-width: 900px;
}

#transaction .transaction-area,
#transaction .box,
#transaction .money-form {
    border-radius: 10px;
}

#transaction .box {
    font-weight: bold;
    font-size: 40px;
}

@media (max-width:400px) {
    #transaction .box h4, p {
        font-size: 20px;
}
}